<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="plantillas/plantilla::head">
        <title>Gestor de mantenimiento</title>

    </head>
    <style>
        .grafico {
            width: 100%;
            min-height: 400px;
        }
/*        .col{
            border:solid 1px;
        }*/
    </style>
    <body>
        <!--<div th:replace="plantillas/plantilla::head"></div>-->
        <header th:replace="plantillas/plantilla::header">lista de tareas</header>
        <div class="container ">
            <h2 th:text="${activo.nombre}"></h2>
            <div class="row ">
<!--                 <div class="col ">
                 </div>-->
                <div class="col ">
                    <!--<img th:src="/recursos/${nombreFoto}.jpg" usemap="#workmap" width="600px" height="600px" />-->
                    <!--<img th:src="${linkFoto}" usemap="#workmap" width="600px" height="600px" />-->
                    <img th:src="${'/recursos/logo-hisan.jpg'}" usemap="#workmap" width="600px" height="400px"style="padding-top: 200px" />


                </div>
                <div class="col ">
                    <div class="row">
                        <div class='col '>
                            <h4>Estado de equipo:</h4>
                        </div>
                        <div class='col'>

                            <h4> 
                                <span  th:if="${activo.estado=='detenida'}" th:text=" ${activo.estado}" style="background-color:red"></span>
                                <span  th:if="${activo.estado=='operativa'||activo.estado=='liberada'}" th:text=" ${activo.estado}" style="background-color:greenyellow"></span>
                                <span  th:if="${activo.estado=='disponible'}" th:text=" ${activo.estado}" style="background-color:orange"></span>

                            </h4>

                        </div>
                    </div>
                    <div class='row'>
                        <div class='col'></div>
                        <div class='col'>
                            <span  sec:authorize="hasRole('ROLE_ADMIN')" >

                                <form th:action="@{/cambiarEstado/}+ ${activo.id}" method="post"th:id="formCambiarEstado" th:object="${activo}" enctype="multipart/form-data" >
                                    <div class="form-floating">  
                                        <select  th:field="*{estado}" class="form-select"  aria-label="Forzar estado" onchange=" document.getElementById('formCambiarEstado').submit()">
                                            <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
                                        </select>
                                        <label for="floatingSelect">Forzar estado</label>
                                    </div>
                                </form>    
                            </span>
                           
                        </div>
                    </div>
                     <div sec:authorize="hasRole('ROLE_PROD') and not hasRole('ROLE_ADMIN') " th:if="${activo.estado!='detenida'}" class='row card card-body'>
                       <form th:action="@{/ponerADisponibilidad/}+ ${activo.id}" method="post"th:id="formCambiarEstadoProd" th:object="${activo}" enctype="multipart/form-data" >
                         <div class='row'>
                             <h3 style="text-align: center">Poner a disponibilidad:</h3>
                         
                         </div>  
                        <div class='row'>
                             <div class='col '>
                                 Indique hasta cuándo el activo estará disponible
                           </div>
                            <div class='col '>
                              <!--<input type="date" class="form-control" id="fechaNacimiento"th:field="*{fechaNacimiento}" required="true">-->
                              <input type="datetime-local"th:field="*{disponibilidadHasta}" class="form-control" id="disponibilidadHasta" name="disponibilidadHasta">
                                  <label style="color: red" hidden="true" id="errorDisponibilidad">debe ingresar un valor mayor al actual</label>
                                  
                           </div>
                        </div>
                          <div th:if="${activo.estado=='disponible'}"> 
                                <div class='row'>
                                   <div class='col '>
                                       Tiempo restante disponible:
                                 </div>
                                  <div class='col '>
                                     <h4>  <span th:id="tiempoRestanteDisponibilidad"></span> </h4>   
                                 </div>
                              </div>
                                <div class='row'>
                                   <div class='col '>
                                       Disponible desde:
                                 </div>
                                  <div class='col '>
                                     <h4>  <span th:id="disponibilidadDesde"></span> </h4>   
                                 </div>
                              </div>
                                <div class='row'>
                                   <div class='col '>
                                       Tiempo desde disponibilidad:
                                 </div>
                                  <div class='col '>
                                     <h4>  <span th:id="transcurridoDesdeDisponibilidad"></span> </h4>   
                                 </div>
                              </div>
                          </div> 
                        <div class='row'style="text-align: center"th:if="${activo.estado!='disponible'}">
                            <div class='col '>
                                <input type='button' value="Confirmar" class="btn btn-primary "  onclick='validarHasta()'>
                            </div>  
                        </div>      
                            
                        </form>    
                        <form th:action="@{/cancelarDisponibilidad/}+ ${activo.id}" method="post"th:id="formCancelarCambiarEstadoProd" th:object="${activo}" enctype="multipart/form-data" >    
                         <div class='row'style="text-align: center"th:if="${activo.estado=='disponible'}">   
                             <div class='col '>
                                <input type='submit' value="Cancelar" class="btn btn-primary "/>
                            </div> 
                        </div>    
                          </form>  
                    </div>
                    <script>
                        
                        function validarHasta()
                        {
                        let fechaDisponibilidad =new Date($('#disponibilidadHasta').val());
                            
                        if(fechaDisponibilidad<=(new Date()))
                        {
                            document.getElementById("errorDisponibilidad").hidden = false;
                            
                        }else 
                        {
                            
                        document.getElementById("errorDisponibilidad").hidden=true;
                           document.getElementById('formCambiarEstadoProd').submit()
                        }
                    }
                    function cancelar(){
                        
                        document.getElementById('formCambiarEstadoProd').submit()
                    }
                        
                    </script>   

                    <br>

                        <!--para cuando agregue lo de los perfiles tecnicos-->
                        <div th:if="${activo.estado=='detenida'}" class="container card">
                            <div class="row">
                                <div class='col'>
                                    <h4>  detenido desde: </h4>
                                </div>
                                <div class='col'>
                                    <h4>  <span th:text="${#temporals.format(activo.momentoDetencion, ' dd/MM/yyyy    HH:mm:ss')}"></span></h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col'>
                                    <h4>  tiempo detenido:</h4>
                                </div>
                                <div class='col'>
                                    <h4>  <span th:id="tiempoTranscurrido"></span> </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col'>
                                    <h4> interventor/es:</h4>
                                </div>
                                <div class='col'>
                                    <div th:each="tecnico: ${tecnicos}">

                                        <h5 th:text="${tecnico.nombre}+' '+${tecnico.apellido}">  Joaquín Gonzalez <span><a th:href="@{/layout}" th:text="perfil" class="btn btn-primary"></a></span> </h5>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <br/>
                        <a th:href="@{/crearTarea/}+ ${activo.id}" th:text="'Notificar detención'" class="btn btn-primary"></a>
                        <br/>
                        <a th:href="@{/registroActivo/}+ ${activo.id}" th:text="'historial de detenciones'" class="btn btn-primary"></a>
                        <br/>
                        <a th:href="@{/preventivos/}+ ${activo.id}" th:text="'preventivos'" class="btn btn-primary"></a>
                        <br/>
                        <h2 align=center>indicadores   
                            <!--<span> <a th:href="@{/configurarIndicadores}" th:text="configurar" class="btn btn-primary"></a></span>-->
                        </h2>

                        <br/>
                        <div class="row">
                            <div class='col'>
                                <h4>MTBF: </h4> 
                            </div>
                            <div class='col'>
                                <h4 th:text="${mtbf}+' min'">  </h4> 
                            </div>
                        </div>
                        <div class="row">
                            <div class='col'>
                                <h4>  MTTR:  </h4> 
                            </div>
                            <div class='col'>
                                <h4  th:text="${mttr}+' min'"> </h4> 
                            </div>
                        </div>
                        <div class="row">
                            <div class='col'>
                                <h4>  Disponibilidad:  </h4> 
                            </div>
                            <div class='col'>
                                <h4  th:text="${disponibilidad}+' %'"> </h4> 
                            </div>
                        </div>
                        <div class="row">
                            <div class='col'>
                                <h4>  Confiabilidad:  </h4> 
                            </div>
                            <div class='col'>
                                <h4  th:text="${confiabilidad}+' % en 24hs'"> </h4> 
                            </div>
                        </div><!-- comment -->

                        



                </div>

            </div> 
            <br/><br/>
            <!--graficos-->
            <div class="row ">
                <div class="col">
                    <h4>Cantidad de minutos de detención </h4>
                    <div th:id="grafico1" class="grafico"></div>
                </div>
                <div class="col">
                    <h4>Cantidad de intervenciones según interventor</h4>
                    <div th:id="grafico2" class="grafico"></div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col">
                    <h4>Detenciones [minutos] ultimos meses mes</h4>
                    <div th:id="grafico3" class="grafico"></div>
                </div>
                <div class="col">
                    <h4>estadística de detenciones según especialidad técnica</h4>
                    <div th:id="grafico4" class="grafico"></div>
                </div>
            </div>

            <br><br>
                    <a th:href="@{/layout}"  th:text="regresar" class="btn btn-primary"></a>
                    <!--th:href="@{/}+${url}"-->
                    </div>   
                    <footer th:replace="plantillas/plantilla::footer"></footer>
                    <script th:inline="javascript">
                        // DMS usar este codigo en la pantalla del detalle del activo para que muestre cuanto tiempo transcurrio desde que esta parada

                        function actualizarTiempo() {
                            // Obtener el elemento span
                            var tiempoSpan = document.getElementById("tiempoTranscurrido");

                            // Obtener el tiempo detenido de Thymeleaf
                            var tiempoDetenido = [[ ${activo.momentoDetencion
                            }
                            ]];
                            // Calcular la diferencia de tiempo
                            var tiempoActual = new Date();
                            var diferencia = tiempoActual.getTime() - new Date(tiempoDetenido).getTime();
                            //
                            //                // Convertir la diferencia de tiempo a horas, minutos y segundos
                            var horas = Math.floor(diferencia / (1000 * 60 * 60));
                            var minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
                            var segundos = Math.floor((diferencia % (1000 * 60)) / 1000);
                            //
                            //                // Mostrar la diferencia de tiempo en el elemento span
                            tiempoSpan.textContent = horas + ":" + minutos + ":" + segundos;
                        }
                        
                        
                        
                        function actualizarTiempoRestante() {
                            // Obtener el elemento span
                            var tiempoRestante = document.getElementById("tiempoRestanteDisponibilidad");
                            var tiempoDesde = document.getElementById("disponibilidadDesde");
                            var tiempoTranscurridoDesde = document.getElementById("transcurridoDesdeDisponibilidad");
                            // Obtener el tiempo detenido de Thymeleaf
                            var disponibilidadDesde = [[ ${activo.disponibilidadDesde}]];
                            // Calcular la diferencia de tiempo
                            var tiempoActual = new Date();
                            var diferencia = new Date($("#disponibilidadHasta").val()).getTime()-tiempoActual.getTime() ;
                            //cuando alcanza el tiempo hace submit a cancelar automaticamente
                            if(new Date($("#disponibilidadHasta").val())<new Date())document.getElementById("formCancelarCambiarEstadoProd").submit();
                            //                // Convertir la diferencia de tiempo a horas, minutos y segundos
                            
                            var horas = Math.floor(diferencia / (1000 * 60 * 60));
                            var minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
                            var segundos = Math.floor((diferencia % (1000 * 60)) / 1000);
                            //
                            //                // Mostrar la diferencia de tiempo en el elemento span
                            tiempoRestante.textContent = horas + ":" + minutos + ":" + segundos;
                            
                            
                            
                           // diferencia=
                            
                            
                            
                            
//                            diferencia = tiempoActual.getTime()-new Date(disponibilidadDesde).getTime() ;
                            var momentoDesdeDisponibilidad=new Date(disponibilidadDesde);
                             tiempoDesde.textContent =momentoDesdeDisponibilidad.getDate()+"/"+(momentoDesdeDisponibilidad.getMonth()+1)+"/"+momentoDesdeDisponibilidad.getFullYear()+" - " +momentoDesdeDisponibilidad.getHours()  + ":" +momentoDesdeDisponibilidad.getMinutes()  + ":" +momentoDesdeDisponibilidad.getSeconds();
                        
    
    
    
                              diferencia = tiempoActual.getTime()-new Date(disponibilidadDesde).getTime() ;
    
                             horas = Math.floor(diferencia / (1000 * 60 * 60));
                             minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
                             segundos = Math.floor((diferencia % (1000 * 60)) / 1000);
                             tiempoTranscurridoDesde.textContent= horas + ":" + minutos + ":" + segundos;
    
                          }

                        // Llamar a la función actualizarTiempo cada segundo para actualizar dinámicamente el tiempo
                        if($("#tiempoTranscurrido").length)
                        setInterval(actualizarTiempo, 1000);
                        
                        if($("#tiempoRestanteDisponibilidad").length)
                        setInterval(actualizarTiempoRestante, 1000);
                    
                    
                    


                    </script>   

                    <!-- Apache ECharts -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.0/echarts.min.js"></script>

                    <script th:inline="javascript">

                        var cantidadMecanicas = [[${cantidadMecanicas}
                        ]];
                        var cantidadHidraulicas = [[${cantidadHidraulicas}
                        ]];
                        var cantidadNeumaticas = [[${cantidadNeumaticas}
                        ]];
                        var cantidadElectronicas = [[${cantidadElectronicas}
                        ]];
                        var cantidadProgramacion = [[${cantidadProgramacion}
                        ]];


                        /* global echarts */

                        const getOptionChart1 = () => {
                            return {

                                tooltip: {
                                    show: true,
                                    trigger: "axis",
                                    triggerOn: "mousemove|click"
                                },
                                dataZoom: {
                                    show: true,
                                    start: 50
                                },
                                xAxis: [
                                    {
                                        type: "category",
                                        data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: "value"
                                    }
                                ],
                                series: [
                                    {
                                        data: [150, 230, 224, 218, 135, 147, 260],
                                        type: "line"
                                    }
                                ]
                            };
                        };

                        const getOptionChart2 = () => {
                            return {
                                color: ["#3246a8", "#00cc66", "#ff5050", "#c6de76", "#D96A8D"],
                                tooltip: {
                                    show: true,
                                    trigger: "axis"
                                },
                                legend: {
                                    data: ["Juan", "Pablo", "Roberto", "Marcelo", "Enrique"]
                                },
                                grid: {
                                    left: "3%",
                                    right: "4%",
                                    bottom: "3%",
                                    containLabel: true
                                },
                                toolbox: {
                                    feature: {
                                        saveAsImage: {}
                                    }
                                },
                                xAxis: [
                                    {
                                        type: "category",
                                        boundaryGap: false,
                                        data: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
                                        axisLine: {show: false},
                                        axisTick: {show: false},
                                        axisPointer: {type: "shadow"}
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: "value"
                                    }
                                ],
                                series: [
                                    {
                                        name: "Juan",
                                        type: "line",
                                        stack: "Total",
                                        data: [120, 132, 101, 134, 90, 230, 210]
                                    },
                                    {
                                        name: "Pablo",
                                        type: "line",
                                        stack: "Total",
                                        data: [220, 182, 191, 234, 290, 330, 310]
                                    },
                                    {
                                        name: "Roberto",
                                        type: "line",
                                        stack: "Total",
                                        data: [150, 232, 201, 154, 190, 330, 410]
                                    },
                                    {
                                        name: "Marcelo",
                                        type: "line",
                                        stack: "Total",
                                        data: [320, 332, 301, 334, 390, 330, 320]
                                    },
                                    {
                                        name: "Enrique",
                                        type: "line",
                                        stack: "Total",
                                        data: [820, 932, 901, 934, 1290, 1330, 1320]
                                    }
                                ]
                            };
                        };

 const meses = /*[[${minutosMes.keySet()}]]*/ [];
    const valores = /*[[${minutosMes.values()}]]*/ [];




                        const getOptionChart3 = () => {
                            return {
                                tooltip: {
                                    show: true
                                },
                                xAxis: {
                                    type: "category",
//                                    data: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "agosto", "setiembre", "octubre", "noviembre", "diciembre"]
                                    data: meses
                                },
                                yAxis: {
                                    type: "value"
                                },
                                series: [
                                    {
//                                        data: [120, 200, 150, 80, 70, 110, 130, 130, 130, 130, 130, 130],
                                        data: valores,
                                        type: "bar"
                                    }
                                ]
                            };
                        };

                        const getOptionChart4 = () => {
                            return {
                                tooltip: {
                                    trigger: "item"
                                },
                                legend: {
                                    top: "5%",
                                    left: "center"
                                },
                                series: [
                                    {
                                        name: "Cantidad de paradas",
                                        type: "pie",
                                        radius: ["40%", "70%"],
                                        avoidLabelOverlap: false,
                                        itemStyle: {
                                            borderRadius: 10,
                                            borderColor: "#fff",
                                            borderWidth: 2
                                        },
                                        label: {
                                            show: false,
                                            position: "center"
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: "40",
                                                fontWeight: "bold"
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [
                                            {value: cantidadMecanicas, name: "Mecánicas"},
                                            {value: cantidadHidraulicas, name: "Electrónicas"},
                                            {value: cantidadNeumaticas, name: "Neumática"},
                                            {value: cantidadElectronicas, name: "Hidráulica"},
                                            {value: cantidadProgramacion, name: "Programación"}



                                        ]
                                    }
                                ]
                            };
                        };

                        const initCharts = () => {
                            const chart1 = echarts.init(document.getElementById("grafico1"));
                            const chart2 = echarts.init(document.getElementById("grafico2"));
                            const chart3 = echarts.init(document.getElementById("grafico3"));
                            const chart4 = echarts.init(document.getElementById("grafico4"));
                            chart1.setOption(getOptionChart1());
                            chart2.setOption(getOptionChart2());
                            chart3.setOption(getOptionChart3());
                            chart4.setOption(getOptionChart4());

                            chart1.resize();
                            chart2.resize();
                            chart3.resize();
                            chart4.resize();
                        };

                        window.addEventListener("load", () => {
                            initCharts();
                        });




                    </script>

                    </body>
                    </html>
