<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="plantillas/plantilla::head">
        <title>Gestor de mantenimiento</title>
    </head>
    <body>
        <header th:replace="plantillas/plantilla::header">lista de tareas</header>
        <div class="container">
            <h2>Torre de Agua Fría</h2>
            <div class="row container">
                <div class="col ">
                    <img src="/recursos/torreAguaFria.jpg" usemap="#workmap" width="600px" height="600px" />
                    <map name="workmap">
                        <area target="" alt="torreAguaFria" title="torreAguaFria" href="torreAguaFria" coords="865,37,984,78" shape="rect"/>
                        <area target="" alt="zonaDeReparacion" title="zonaDeReparacion" href="zonaDeReparacion" coords="45,267,108,363" shape="rect"/>
                    </map>
                </div>
                <div class="col ">
                    <div class="row">
                        Estado de equipo: operativo
                    </div>
                    <div class="row">
                        MTBF:
                    </div>
                    <div class="row">
                        MTTR:
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>

                </div>

            </div> 
            <br><br>
           <a th:href="@{/layout}" th:text="regresar" class="btn btn-primary"></a>
        </div>   
        <footer th:replace="plantillas/plantilla::footer"></footer>
    </body>
</html>
