<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantillas/plantilla::head">
        <title>Gestor de mantenimiento</title>
    </head>
    <body>
        <header th:replace="plantillas/plantilla::header"></header>

           
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" >Editar tarea</h5>
                    </div> 
                    <form th:action="@{/guardarEdicion}" method="post" th:object="${tarea}" class="was-validated">
                         <div class="modal-body">
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <input type="hidden" th:field="${tarea.idTarea}"/>
                                <input type="hidden" th:field="${tarea.solicita}"/>
                                <label th:text="activo" for="activo"></label>
                                <select th:field="*{activo}" class="form-control" >
                                    <option value="0">seleccione</option>
                                    <option th:each="activo : ${activos}" th:value="${activo.id}" th:text="${activo.codigo}+', '+ ${activo.nombre}"></option>
                                </select>
                                <br/>
                                <label th:text="descripcion" for="descripcion"></label>
                                <input type="text" th:field="*{descripcion}"class="form-control" required="true"/>
                                <!--<span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"/>-->
                                <br/>
                               <label th:text="estado" for="estado"></label>
                                             <select  th:field="*{activo.estado}" class="form-control" id="dropDownList">
                                                <option value="0">seleccione</option>
                                                <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
                                            </select>
                                <br/>
                               

                            <input type="submit" th:value="guardar" class="btn btn-primary "/>
                            <a th:href="@{/tareas}" th:text="regresar" class="btn btn-primary "></a>
                         </div>    
                    </form>
               </div>     
        </div>
        <footer th:replace="plantillas/plantilla::footer"></footer>    
    </body>
</html>
