<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.tymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:temporals="http://www.thymeleaf.org/extras/thymeleaf-temporals">


    <!--<meta http-equiv="refresh" id="metaRefresh" content="60">-->

        <head th:replace="plantillas/plantilla::head">
            <title>Lista de tareas</title>
            <meta charset="UTF-8"/>
           
        </head>

        <body>
            <header th:replace="plantillas/plantilla::header">lista de preventivos</header>
            <div class="modal-dialog" style="position: fixed; top: 50px; right: 20px; z-index: 1030;">
                Serás redirigido en: <span id="tiempoRestante">60</span> segundos
            </div>
            <section  class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" >
                            <!--<a th:href="@{/sugerenciaPreventivo/}+${activo.id}" class="btn btn-primary btn-block" th:text="'Sugerencia de preventivo'">-->
                              <a 
                                         href="#" 
                                         data-toggle="modal" 
                                         th:data-target="'#myModal'" 
                                         class="btn btn-primary ">sugerencia de preventivo</a>   
                            <!--</a>-->
                        </div>

                    </div>
                    <div class="modal fade" th:id="'myModal'" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Sugerir preventivo</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form th:id="'sugerenciaPreventivo'" th:action="@{/guardarSugerencia/}+ ${activo.id}"th:object="${preventivo}" method="post"enctype="multipart/form-data"> 
                                        <div class="modal-body">
                                            <div class='row'> 
                                                <div class="col">
                                                    <label th:text="'descripcion breve (título)'" ></label>   
                                                </div>
                                                <div class="col">
                                                    <input type="text" th:name="descripcion"class="form-control" oninput="reiniciarContador()"/>
                                                </div>
                                            </div>
                                        <br>
                                            <div class='row'> 
                                                <div class="col">
                                                    <label th:text="'detalle'" ></label>   
                                                </div>
                                                <div class="col">
                                                    <textarea th:name="detalle"class="form-control"oninput="reiniciarContador()"></textarea>
                                                </div>
                                            </div>
                                             <br>
                                            <div class='row'> 
                                                
                                                <div class="col">
                                                   
                                                    <input type="file" id="fileInput" name="file" hidden/>
                                                    <label for="fileInput" class="btn btn-primary " >
                                                        Adjuntar imagen
                                                    </label>
                                                </div>
                                                <div class="col">
                                                     <label id="adjuntarImagen"></label>
                                                </div>
                                                
                                            </div>
                                        </div>
                                            
                                            <script>
                                                //para que muestre el nombre del archivo
                                                document.getElementById('fileInput').addEventListener('change', function() {
                                                    const label = document.getElementById('adjuntarImagen');
                                                    const fileName = this.files[0]?.name || 'No se seleccionó ningún archivo';
                                                    label.textContent = fileName;
                                                });
                                            </script>    
                                            
                                            
                                            
                                            
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" th:type="submit">guardar</button>
                                        </div>
                                             </form> 
                                       
                                    </div>
                                </div>
                            </div>
                </div>
            </section>
<!--            <section  class="py-2 mb-4  bg-light">
                <form th:action="@{/filtrar}" method="post"   class="form-group">
                    <div class="container">
                        <label  for="palabraClave">filtrar: PENDIENTE</label>
                        <input type="text"  name="palabraClave" id="palabraClave" th:value="${palabraClave}"placeholder="digite valor a buscar" autocomplete="off"/>
                        <input th:type="submit"  th:value="buscar" class="btn btn-primary "/>
                    </div>
                </form>
            </section>-->
            <div class="container ">
                <table class="table table-bordered table-hover table-sm "  >
                    <thead class="thead-light " >
                        <tr > 
                            <th >activo</th>
                            <th >estado preventivo</th>
                            <th >descripcion </th>
                            <th >detalle</th>
                            <th  sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_MANT')">solicita</th>
                            <th  sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_MANT')or hasRole('ROLE_TECNICO')">acción</th>

                        </tr>
                    </thead>
                    <tbody >
                        <tr th:each="preventivo: ${preventivos}">

                        <td th:text="${preventivo.activo.nombre}" >activo</td>
                        <td th:text="${preventivo.estado}">estado preventivo</td>
                        <td th:text="${preventivo.descripcion}">descripcion preventivo</td>
                        <td ><a        href="#" 
                                       data-toggle="modal" 
                                       th:data-target="'#modalMostrar'+ ${preventivo.id}"
                                       class="btn btn-primary"
                                       >
                                Mostrar
                            </a></td>
                        
                         <div class="modal fade bd-example-modal-lg" th:id="'modalMostrar'+ ${preventivo.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                            <textarea th:text="${preventivo.detalle}" class="form-control"></textarea>
                                            <br>
                                                 <div class="container">
                                                    <div th:if="${preventivo.imagen!=null}" class="card-body">
                                                        <img class="img-thumbnail rounded "
                                                             th:src="'/recursos/'+${preventivo.imagen}"
                                                             th:alt='${preventivo.imagen}'
                                                             style='max-width: 25%;'/>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <td sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_MANT')" th:text="${preventivo.solicita}">usuario</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminarPreventivo/}+${preventivo.id}"class="btn btn-secondary btn-sm" >eliminar</a></td>
                        <td  th:if='${preventivo.estado=="cerrado"}'></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_MANT')" th:if='${preventivo.estado=="pendiente"}'>
                            <a th:href="@{/validarPreventivo/}+${preventivo.id}" class="btn btn-secondary btn-sm">validar</a></td>
                         <td sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_MANT')or hasRole('ROLE_TECNICO')"th:if='${preventivo.estado=="validado"}'>
                             
                             
<!--                            <select id="tecnicos" name="tecnicosIds" multiple class="form-control" required size="2">
                                <option th:each="tecnico : ${todosLosTecnicos}" 
                                        th:value="${tecnico.id}" 
                                        th:text="${tecnico.apellido} + ' ' + ${tecnico.nombre}"
                                       >
                                </option>
                            </select>
                             
                            <a th:href="@{/cerrarPreventivo/}+${preventivo.id}" class="btn btn-secondary btn-sm" >cerrar</a>-->
                         <form th:action="@{/cerrarPreventivo/{id}(id=${preventivo.id})}" method="post">
                            <select id="tecnicos" name="tecnicosIds" multiple class="form-control" required size="2">
                                <option th:each="tecnico : ${todosLosTecnicos}" 
                                        th:value="${tecnico.id}" 
                                        th:text="${tecnico.apellido} + ' ' + ${tecnico.nombre}">
                                </option>
                            </select>
                            <button type="submit" class="btn btn-secondary btn-sm">Cerrar</button>
                        </form>




                         
                         </td>   

                    </tr>
                </tbody>
            </table>
                
                
                
                
        </div>
         <section  class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-2" >
                        <a th:href="@{/}+${url}" class="btn btn-primary btn-block">
                             Volver
                        </a>
                    </div>

                </div>
            </div>
        </section>

        
      

        
        
        


        <footer th:replace="plantillas/plantilla::footer"></footer>
        
        
         <script>
             
                function reiniciarContador(element) {
                   segundosRestantes=120;
                }
             
             
             
                var segundosRestantes = 120; // Define el tiempo inicial en segundos

                // Función para actualizar dinámicamente el tiempo restante y realizar la redirección
                function actualizarTiempoRestante() {
                    // Actualizar el contenido del span con el tiempo restante
                    document.getElementById('tiempoRestante').textContent = segundosRestantes;

                    // Disminuir el tiempo restante en 1 segundo
                    segundosRestantes--;

                    // Verificar si se alcanzó el tiempo límite
                    if (segundosRestantes < 0) {
                        // Realizar la redirección después de 60 segundos
                        window.location.href = '/';
                    } else {
                        // Llamar a esta función nuevamente después de 1 segundo
                        setTimeout(actualizarTiempoRestante, 1000); // 1000 milisegundos = 1 segundo
                    }
                }

                // Llamar a la función para iniciar el contador
                actualizarTiempoRestante();
           </script>
    </body>
</html>
