<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.tymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:temporals="http://www.thymeleaf.org/extras/thymeleaf-temporals">


    <!--<meta http-equiv="refresh" content="10">-->

    <head th:replace="plantillas/plantilla::head">
        <title>Lista de tareas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="plantillas/plantilla::header">lista de tareas</header>

        <section  class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" >
                        <a th:href="@{crearTarea}" class="btn btn-primary btn-block">
                            <i class="fas fa-plus"></i> Crear tarea
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section  class="py-2 mb-4  bg-light">
            <form th:action="@{/filtrar}" method="post"   class="form-group">
                <div class="container">
                    <label  for="palabraClave">filtrar: </label>
                    <input type="text"  name="palabraClave" id="palabraClave" th:value="${palabraClave}"placeholder="digite valor a buscar" autocomplete="off"/>
                    <input th:type="submit"  th:value="buscar" class="btn btn-primary "/>
                </div>
            </form>
        </section>
        <div class="container ">
            <table class="table table-bordered table-hover table-sm "  >
                <thead class="thead-light " >
                    <tr > 
                        <th >activo</th>
                        <th >estado activo</th>
                        <th >estado solicitud</th>
                        <th >descripcion del problema</th>
                        <th  sec:authorize="hasRole('ROLE_ADMIN')">solicita</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
                        <th  sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>

                        <th >hora de detencion</th>
                    </tr>
                </thead>
                <tbody >
                    <tr th:each="tarea: ${tareas}">

                        <!--<td th:text="${tarea.activo.codigo}" th:title='${tarea.activo.nombre}'>maquina</td>-->
                        <td th:text="${tarea.activo.nombre}" >activo</td>
                        <td th:text="${tarea.activo.estado}" th:if='${tarea.activo.estado=="detenida"}'style="background: red"th:title="${tarea.activo.momentoDetencion}">estado</td>
                        <td th:text="${tarea.activo.estado}" th:if='${tarea.activo.estado!="detenida"}'>estado</td>
                        <!--<td th:text="${tarea.estado}" >estado solicitud </td>-->
                        <td>
                            <span th:text="${tarea.estado}">Estado solicitud</span>
                            <span><a th:if="${tarea.estado=='abierto'}" 
                                    sec:authorize="hasRole('ROLE_MANT')" th:href="@{/liberarSolicitud/}+ ${tarea.idTarea}" class="btn btn-primary ">liberar</a></span>
                            <!--<span><a th:if="${#authentication.principal.username == tarea.solicita && tarea.estado=='liberada'}" th:href="@{/cerrarSolicitud/}+ ${tarea.idTarea}" class="btn btn-primary">evaluar y cerrar</a></span>-->
                            <span>
                                <a th:if="${#authentication.principal.username == tarea.solicita && tarea.estado=='liberada'}" 
                                   href="#" 
                                   data-toggle="modal" 
                                   th:data-target="'#myModal' + ${tarea.idTarea}" 
                                   class="btn btn-primary">
                                    Evaluar y Cerrar
                                </a>
                                <label th:if="${#authentication.principal.username != tarea.solicita && tarea.estado=='liberada'}" th:text="' aguardando cierre de usuario '+${tarea.solicita}" />
                            </span>
                            
                            
                            <!--modal-->


                            <div class="modal fade" th:id="'myModal' + ${tarea.idTarea}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirme cierre de tarea</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                             <form th:id="'evaluarForm+${tarea.idTarea}'" th:action="@{/CerrarSolicitud/}+${tarea.idTarea}" > 
                                        <div class="modal-body">
                                                 <label th:text="'ingrese evaluación del trabajo realizado (opcional): '"/>
                                                 <textArea th:id="evaluacion" th:name="evaluacion" class="form-control"></textArea>
                                        </div>
                                        <div class="modal-footer">
                                                 <button class="btn btn-primary" th:type="submit">Guardar y cerrar</button>
                                        </div>
                                             </form> 
                                    </div>
                                </div>
                            </div>
                            

                        </td>
                        <td th:text="${tarea.descripcion}">descripcion</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${tarea.solicita}">usuario</td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/editar/} + ${tarea.idTarea}">editar</a></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar/}+${tarea.idTarea}" >eliminar</a></td>


                        <td  th:if='${tarea.activo.estado=="detenida"}'>
                            <span th:text="${#temporals.format(tarea.activo.momentoDetencion, ' dd/MM/yyyy  HH:mm:ss')}"></span>
                        </td>
                        <td  th:if='${tarea.activo.estado!="detenida"}' >
                        </td>




                    </tr>
                </tbody>
            </table>
        </div>


        


        <footer th:replace="plantillas/plantilla::footer"></footer>
    </body>
</html>
